.reset_section{
    margin: 0 auto;
    width: 400px;
    background-color:#F7F7F7;
    /* margin-top: 100px; */
    box-shadow: -3px -10px 30px rgba(0,0,0,0.3);
    height: 400px;
}
.reset_section h2{
    font-family: 'amiri' , sans-serif;
    padding: 10px 0;
    /* font-weight: bold; */
    background-color: rgba(0,0,0,.03);
    letter-spacing: -1px;
}
.reset_section form input[type=email]{
    font-family: 'Poppins' , sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #707070;
}
.reset_section form input[type=submit]{
    background-color: #337AB7;
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    padding:5px 0;
    outline: none;
    border: none;
    letter-spacing: 1px;
}
