.head_reset{
    text-align: left;
    font-size: 25px;
    /* font-weight: bold; */
    background-color: rgba(0,0,0,.03);
    font-family: 'amiri' , sans-serif;
    /* background-color: #337AB7; */
    padding:10px 0;
    padding-left: 10px;
}
.body_reset .form-group label {
    font-family: 'Poppins', sans-serif;
}
.body_reset button{
    background-color: #337AB7;
}
