body {
    margin: 0;
    padding: 0;
}

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #034B88;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }
  .show{
      display: block !important;
  }
  .sidebar #nav_sidebar{
    list-style-type: none;
    padding: 0;
  }
  .sidebar #nav_sidebar a{
    display: block;
    padding: 15px 10px 5px 10px;
    font-size: 17px;
    font-family: 'josefin sans';
    text-decoration: none;
    color: white;
  }
  .sidebar #nav_sidebar a:hover{
    background-color:#5DBDF6;
  }
  .sidebar #nav_sidebar li:last-of-type{
    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: #005FAA;
    height: 50px;
  }
  .sidebar #nav_sidebar li:last-of-type a{
      height: 50px;
      font-size: 30px;
      padding-top: 15px;
      padding-left: -50px;
      width: 100%;
  }
  .sidebar #nav_sidebar a span i{
      color: whitesmoke;
      font-size: small;
      margin-bottom: 10px;

  }
  .sidebar #nav_sidebar a .second{
    margin-left: 5px;
    font-size: 15px;
  }
  .sidebar #nav_sidebar a span:last-of-type{
      float: right;
  }
  .sidebar #nav_sidebar hr{
    margin: 0;
  }
  .sidebar #contain_image_sidebar{
    height: 50px;
    width: 100%;
    background-color:#005FAA;
  }
  .sidebar img{
      width: 100%;
      height: 100%;
  }
  div.content {
    margin-left: 200px;
  }
  .content_inside{
    padding: 10px 15px;
  }
  #clicka{
      display: none;
  }
  .content_header{
      height: 50px;
      padding-top: 7px;
      background-color: #005FAA;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: none;
    }
    #clicka{
        display: block;
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 23px;
        color: white;
        width: 10%;
        float: left;
    }
    .move{
        margin-left: 5px !important;
    }
    .sidebar a {
        text-align: center;
    }
    .sidebar a i{
        display: none;
    }
    div.content {margin-left: 0;}
    .show{
      display: block !important;

    }
    .sidebar #nav_sidebar li:last-of-type{
        display: none;
      }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
